extends layout

block content
    .panel.panel-default
        .panel-body
            h1= title
            p #{title} - The ultimate doc to TeX convertor
            hr
            form#uploadForm(enctype='multipart/form-data', action='/convert', method='post')
                input.btn-block(type='file', name='userDoc')
                br
                input.btn.btn-primary(type='submit', value='Upload File', name='submit', style='float: left;')
