extends layout

block content
    h1= title
    h5 #{title} - The ultimate doc to tex convertor
    hr
    .panel.panel-default
        .panel-heading
            h6 Tex output
        .panel-body
            hr 
            pre.override-tex #{tex}