extends layout

block aux_head
    script(src='https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js')
    link(rel='stylesheet', href='stylesheets/desert.css')

block content
    h1= title
    h5 #{title} - The ultimate doc to TeX convertor
    hr
    .panel.panel-default
        .panel-heading
            h6 TeX output
            a.btn.btn-default(href='/') Back to home
        .panel-body
            hr 
            pre.prettyprint.lang-tex.override-tex #{tex}